@model Cleaner

@using (Html.BeginForm("Add", "Cleaner", FormMethod.Post))
{
    <div>
        New cleaner details
    </div>
    <div>
        Cleaner Name @Html.EditorFor(a => a.Name)
        Cleaner Surname @Html.EditorFor(a => a.Surname)
        City @Html.EditorFor(a => a.City)
    </div>
    <input type="submit" value="Submit" />
}