@model Hotel

@using (Html.BeginForm("Add", "Hotel", FormMethod.Post))
{
    <div>
        New hotel details
    </div>
    <div>
        Hotel name @Html.EditorFor(a => a.Name)
        City @Html.EditorFor(a => a.City)
        Address @Html.EditorFor(a => a.Address)
        MAX room number @Html.EditorFor(a => a.MaxRoomNumber)
    </div>
    <input type="submit" value="Submit" />
}