@model Hotel

@using (Html.BeginForm("Update", "Hotel", FormMethod.Post))
{
    <div>
        Hotel @Html.LabelFor(a => a.Name)
    </div>
    <div>
        @Html.EditorFor(a => a.Name)
        <div>
            @Html.ValidationMessageFor(a => a.Name)
        </div>
    </div>
    <input type="submit" value="Submit" />
}