@model Hotel

@using (Html.BeginForm("Update", "Hotel", FormMethod.Post))
{
    <div>
        Update hotel details
    </div>
    <div>
        Hotel name @Html.EditorFor(a => a.Name)
        City @Html.EditorFor(a => a.City)
        Address @Html.EditorFor(a => a.Address)
    </div>
    <input type="submit" value="Submit" />
}